* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #393b44;
  /* font-family: sans-serif; */
  font-family: 'Press Start 2P';
  color: white;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}


.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.plane_wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  /* border: red 1px solid; */
}

.sprite_container,
.fire_container {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
}


.sprite {
  position: absolute;
  height: 60px;
  width: 120px;
  transform-origin: center bottom;
  animation: squish infinite 1s;
}


.fire  {
  position: absolute;
  height: 60px;
  width: 180px;
  transform-origin: center bottom;
  animation: squish infinite 1s;
}

.rope {
  margin: -1px -2px 0 -20px;
  height: 60px;
  width: 60px;
  z-index: -1;
  transform-origin: center left;
  transition: 0.4s;
}

.message {
  height: 30px;
  line-height: 30px;
  background-color: antiquewhite;
  color: navy;
  padding: 0px 8px;
  z-index: -1;
  
}

.module {
  position: relative;
  transition: 0.7s ease-in-out;
}

.front {
  display: flex;
}